<mat-expansion-panel *ngFor="let course of courses" [expanded]="true">    
    <mat-expansion-panel-header>
        <mat-panel-title translate>
            course.{{course.name | lowercase}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    
    <mat-divider></mat-divider>
    
    <mat-list>
        <mat-list-item *ngFor="let item of menuItems | filterByCourse: course.name">
            <h4 matLine>{{item.name}} <mat-icon *ngIf="isVegetarian(item)" color="primary">eco</mat-icon></h4>        
            <p matLine>{{item.price | currency:'€'}}</p>
            
            <button mat-icon-button color="primary" (click)="addToOrder(item)">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="showInfo(item)">
                <mat-icon>info</mat-icon>
            </button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-expansion-panel>

<!-- <mat-list *ngFor="let course of courses">
    <h3 mat-subheader translate>course.{{course.name | lowercase}}</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let item of menuItems | filterByCourse: course.name">
        <h4 matLine>{{item.name}} <mat-icon *ngIf="isVegetarian(item)" color="primary">eco</mat-icon></h4>        
        <p matLine>{{item.price | currency:'€'}}</p>
        
        <button mat-icon-button color="primary" (click)="addToOrder(item)">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="showInfo(item)">
            <mat-icon>info</mat-icon>
        </button>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list> -->