<!--EXAMPLE: translate with directive(key)-->
<h2 [translate]="'demo.title'"></h2>

<!--EXAMPLE: translate part with pipes-->
<p>{{ 'demo.text' | translate }}</p>

<!--EXAMPLE: translate with directive(key) with parameters directly and from component-->
<p [translate]="'demo.greeting'" [translateParams]="{name:'Rik', projectName:projectName}"></p>

<!--EXAMPLE: translate using variable in key-->
<p translate>tag.{{tag}}</p>

<!--change languages with funtion in component.ts-->
<button (click)="changeLanguage('en')">EN</button>
<button (click)="changeLanguage('nl')">NL</button>
<button (click)="changeLanguage('fr')">FR</button>

<!--translations are stored in assets/i18n/{language}.json-->