<h1 i18n="frontpage|Page title@@frontpageTitle">Welcome to i18n!</h1>

<input i18n-placeholder placeholder="Example Input" />

<p i18n>
    Updated {minutes, plural,
    =0 {just now}
    =1 {one minute ago}
    other {{{minutes}} minutes ago}}
</p>

<span i18n>
    The author is {gender, select,
    male {male}
    female {female}
    other {other}}
</span>

<p i18n>Text in the default language</p>

<!--When marked all text for translation, run `ng xi18n --output-path src/locale` to create messages.xlf-->
