<!--EXAMPLE: translate with directive(key)-->
<h2 [translate]="'demo.title'"></h2>

<!--EXAMPLE: translate part with pipes-->
<p>{{ 'demo.text' | translate }}</p>

<!--EXAMPLE: translate with directive(key) with parameters directly and from component-->
<p [translate]="'demo.greeting'" [translateParams]="{name:'Rik', projectName:projectName}"></p>

<!--EXAMPLE: translate using variable in key-->
<p translate>tag.{{tag}}</p>

<!--change languages with funtion in component.ts-->
<mat-button-toggle-group value="{{language}}" vertical>
    <mat-button-toggle value="en" (click)="changeLanguage('en')">
        <p>English</p>
    </mat-button-toggle>
    <mat-button-toggle value="nl" (click)="changeLanguage('nl')">
        <p>Nederlands</p>
    </mat-button-toggle>
</mat-button-toggle-group>

<!--translations are stored in assets/i18n/{language}.json-->