<mat-card>
    <mat-card-subtitle translate>preferences.filters</mat-card-subtitle>
    <mat-card-content>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of filterTags"
                [ngStyle]="{'background-color': isFilteredTag(tag)? 'pink' : ''}"
                [selectable]="false"
                (click)="toggleFilter(tag)"
                translate>
                tag.{{tag | lowercase}}
                <i class="material-icons" *ngIf="tag=='Vegan' || tag=='Vegetarian'" style="color: green">eco</i>
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
</mat-card>