<!--change languages with funtion in component.ts-->
<mat-list>
    <h3 mat-header>Language</h3>
    <mat-list-item>
        <mat-button-toggle-group value="{{language}}">
            <mat-button-toggle value="en" (click)="changeLanguage('en')">
                <p>English</p>
            </mat-button-toggle>
            <mat-button-toggle value="nl" (click)="changeLanguage('nl')">
                <p>Nederlands</p>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3 mat-header>Include Tags</h3>
    <mat-selection-list #tags [(ngModel)]="selectedOptions" (ngModelChange)="updateFilters()">
        <mat-list-option *ngFor="let tag of filterTags" [value]="tag" [selected]="isFilteredTag(tag)">
            <p translate>tag.{{tag | lowercase}}</p>
        </mat-list-option>
        <mat-divider></mat-divider>
    </mat-selection-list>
</mat-list>
  