<div class="columns is-mobile card">
  <div class="column has-text-left">
    <p *ngIf="tableNumber" class="tablenumber" style="padding-left: 5%;" [translate]="'nav-top.tablenumber'" [translateParams]="{number:tableNumber}"></p>
  </div>
  <div class="column has-text-centered">
    <img src="./assets/images/logo.png" alt="" style="height: 100px;">
  </div>
  <div class="column has-text-right">
    <button mat-icon-button (click)="changeLanguage('en')">
      <span class="flag-icon flag-icon-gb"></span>
    </button>
    <button mat-icon-button (click)="changeLanguage('nl')">
      <span class="flag-icon flag-icon-nl"></span>
    </button>
  </div>
</div>
