<div class="columns is-centered is-mobile is-multiline">
  <div class="column is-12 has-text-centered">
    <p class="title is-3" style="margin-top: 30px;">
      Please login
    </p>
  </div>
  <div class="column is-5 has-text-centered">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <p *ngIf="hasError" class="error">Incorrect email or password</p>
      <button mat-raised-button color="primary">Login</button>
    </form>
  </div>
</div>
