<p>kitchen works!</p>
<br />
<!-- Unfinished orders -->
<mat-expansion-panel *ngIf="orders$ | async as orders" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title translate>
      <h4>Deze orders moeten nog bereid worden</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-divider></mat-divider>

  <ng-container *ngFor="let order of orders">
    <ng-container *ngIf="order.status === 'Sent'">
      <mat-list class="card">
        {{ order.id }} {{ order.status }}
        <button (click)="setStatus(order.id, 'Done')">finish</button>
        <mat-list-item *ngFor="let item of order.orderItems">
          <p matLine>naam : {{ item.item?.name }} amount : {{ item.amount }}</p>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </ng-container>
</mat-expansion-panel>

<!-- Finished orders -->
<mat-expansion-panel *ngIf="orders$ | async as orders" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title translate>
      <h4>Deze orders zijn af</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-divider></mat-divider>

  <ng-container *ngFor="let order of orders">
    <ng-container *ngIf="order.status === 'Done'">
      <mat-list class="card">
        {{ order.id }} {{ order.status }}
        <button (click)="setStatus(order.id, 'BeingDelivered')">deliver</button>
        <mat-list-item *ngFor="let item of order.orderItems">
          <p matLine>naam : {{ item.item?.name }} amount : {{ item.amount }}</p>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </ng-container>
</mat-expansion-panel>

<!-- Being delivered orders -->
<mat-expansion-panel *ngIf="orders$ | async as orders" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title translate>
      <h4>Deze orders worden gebracht</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-divider></mat-divider>

  <ng-container *ngFor="let order of orders">
    <ng-container *ngIf="order.status === 'BeingDelivered'">
      <mat-list class="card">
        {{ order.id }} {{ order.status }}
        <button (click)="setStatus(order.id, 'Delivered')">delivered</button>
        <mat-list-item *ngFor="let item of order.orderItems">
          <p matLine>naam : {{ item.item?.name }} amount : {{ item.amount }}</p>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </ng-container>
</mat-expansion-panel>

<!-- Delivered orders -->
<mat-expansion-panel *ngIf="orders$ | async as orders" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title translate>
      <h4>Deze orders zijn gebracht</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-divider></mat-divider>

  <ng-container *ngFor="let order of orders">
    <ng-container *ngIf="order.status === 'Delivered'">
      <mat-list class="card">
        {{ order.id }} {{ order.status }}
        <mat-list-item *ngFor="let item of order.orderItems">
          <p matLine>naam : {{ item.item?.name }} amount : {{ item.amount }}</p>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </ng-container>
</mat-expansion-panel>
