<br />
<div class="container-kitchen">
  <!--Incoming Orders-->
  <div *ngIf="sentOrders$ | async as orders">
    <h1>{{'kitchen-header.new' | translate}}</h1>
    <div class="columns is-mobile">
      <div class="column is-4">
        <ng-container *ngFor="let order of orders">
          <button (click)="selectedOrder(order)" style="display: block;">Tafel {{ order.tableNr }}</button>
        </ng-container>
      </div>
      <div class="column">
        <div *ngIf="currentSelectedOrder" class="tableInfo">
          {{currentSelectedOrder.id}}
        </div>
      </div>
    </div>

    <!-- <mat-expansion-panel class="setHeight">
            <mat-expansion-panel-header>
              <p class="order">Tafel {{ order.tableNr }} :
                  {{ order.time | date: "shortTime" }}</p>
            <mat-divider></mat-divider>
          </mat-expansion-panel-header>
          <mat-list-item *ngFor="let item of order.orderItems">
            <p class="orderItems" matLine>{{ item.amount }} X {{ item.item?.name }}</p>
          </mat-list-item>
          <mat-action-row>
            <button
              mat-raised-button
              color="primary"
              (click)="setStatus(order.id, 'Done')"
            >
              Klaar
            </button>
          </mat-action-row>
        </mat-expansion-panel> -->
  </div>

  <!-- Finished orders -->
  <!-- <div class="orderList" *ngIf="doneOrders$ | async as orders">
    <h1>{{'kitchen-header.ready' | translate}}</h1>

    <mat-divider></mat-divider>

    <ng-container *ngFor="let order of orders">
      <mat-expansion-panel class="setHeight">
         <mat-expansion-panel-header>
            <p class="order">Tafel {{ order.tableNr }} :
                {{ order.time | date: "shortTime" }}</p>
            <mat-divider></mat-divider>
          </mat-expansion-panel-header>

          <mat-list-item *ngFor="let item of order.orderItems">
            <p class="orderItems">{{ item.amount }} X {{ item.item?.name }}</p>
            </mat-list-item>

        <mat-action-row>
          <button
            mat-raised-button
            color="primary"
            (click)="setStatus(order.id, 'Delivered')"
          >
            Geserveerd
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
 
  </div> -->