<br />
<div class="container-kitchen">
  <!--Incoming Orders-->
    <div class="columns is-mobile">
      <div class="column is-half">
        <h1>{{'kitchen-header.new' | translate}}</h1>
        <div class="scrollable" *ngIf="sentOrders$ | async as orders">
          <ng-container class="scrollable" *ngFor="let order of orders">
            <button mat-raised-button (click)="selectedOrder(order)" style="display: block;">Tafel {{ order.tableNr }}</button>
          </ng-container>
        </div>
      </div>
      <div class="column is-half">
        <h1>{{'kitchen-header.ready' | translate}}</h1>
          <div class="scrollable" *ngIf="doneOrders$ | async as orders">
            <ng-container *ngFor="let order of orders">
              <button mat-raised-button (click)="selectedOrder(order)" style="display: block;">Tafel {{ order.tableNr }}</button>
            </ng-container>
          </div>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-full orderItem">
        <div *ngIf="currentSelectedOrder">
          <div id="title">
            {{'tablenumber' | translate}} {{ currentSelectedOrder.tableNr }}
          </div>
          <div class="scrollableCourses">
            <ng-container *ngFor="let course of currentSelectedOrder.orderItems">
              <div class="courseItem">
                {{course.item.name}} : {{course.amount}}
              </div>
            </ng-container>
          </div>
          <button class="courseButton" *ngIf="currentSelectedOrder.status == 'Sent'" mat-raised-button (click)="setStatus(currentSelectedOrder.id, 'Done')" style="display: block;">Done</button>
          <button class="courseButton" *ngIf="currentSelectedOrder.status == 'Done'" mat-raised-button (click)="setStatus(currentSelectedOrder.id, 'Delivered')" style="display: block;">Delivered</button>
        </div>
      </div>
    </div>
  </div>