i {
  text-align: center;
}

.material-icons {
  display: inherit;
  padding-bottom: 0.2rem;
}

.menu-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mat-button {
  width: 100%;
}

.level-item {
  margin: 0px;
  width: 100px;
}

.navbar.is-fixed-bottom {
  padding-left: 10px;
  padding-right: 10px;
}

p,
i {
  color: #707070;
}
