<nav class="level navbar is-fixed-bottom card is-mobile">
  <!-- Preferences -->
  <div class="level-item">
    <button routerLink="/i18n" mat-button class="menu-item">
      <i class="material-icons">
        build
      </i>
      <p>Preferences</p>
    </button>
  </div>

  <!-- Traditional menu -->
  <div class="level-item">
    <button routerLink="/regularmenu" mat-button class="menu-item">
      <i class="material-icons">
        local_library
      </i>
      <p>Traditional Menu</p>
    </button>
  </div>

  <!-- Drinks -->
  <div class="level-item">
    <button mat-button class="menu-item">
      <i class="material-icons">
        local_bar
      </i>
      <p>Drinks</p>
    </button>
  </div>

  <!-- Swipe menu -->
  <div class="level-item">
    <button routerLink="/swipemenu" mat-button class="menu-item">
      <i class="material-icons">
        favorite
      </i>
      <p>Swipe Menu</p>
    </button>
  </div>

  <!-- Order -->
  <div class="level-item">
    <button routerLink="/order" mat-button class="menu-item">
      <i class="material-icons">
        send
      </i>
      <p>Order</p>
    </button>
  </div>

  <!-- Pay -->
  <div class="level-item">
    <button mat-button class="menu-item">
      <i class="material-icons">
        attach_money
      </i>
      <p>Pay</p>
    </button>
  </div>
</nav>
