<div class="columns is-mobile is-centered is-multiline">

  <div style="margin-top: 30px;" class="column is-12 animated fadeIn">
    <p>To use FeedMe select wether you want to use this device as a menu...</p>
  </div>

  <!-- Table number -->
  <div class="column is-12 has-text-centered animated fadeIn">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Menu mode</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="tableForm" (ngSubmit)="setTableNumber(tableForm.value)" class="container">
          <mat-form-field>
            <input matInput placeholder="Table Number" class="left-align" formControlName="tableNumber" required>
            <span matPrefix>#&nbsp;</span>
            <mat-error *ngIf="hasError('tableNumber', 'pattern')">Not a number</mat-error>
            <mat-error *ngIf="hasError('tableNumber', 'required')">This field is required</mat-error>
          </mat-form-field>
          <button mat-raised-button [disabled]="!tableForm.valid">Confirm</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div style="margin-top: 30px;" class="column is-12 animated fadeIn delay-0-5s">
    <p>...or as a kitchen service: </p>
  </div>

  <!-- Kitchen button -->
  <div class="column is-12 has-text-centered animated fadeIn delay-0-5s">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Kitchen mode</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button (click)="goToKitchen()" color="accent" class="button-kitchen" mat-raised-button>
          <i class="icon-kitchen material-icons">kitchen</i>
          <p>Kitchen</p>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
