<div class="columns is-mobile is-centered">
  <div class="column is-6 has-text-centered">
    <form [formGroup]="tableForm" (ngSubmit)="setTableNumber(tableForm.value)" class="container">
      <mat-form-field>
        <input matInput placeholder="Table Number" class="left-align" formControlName="tableNumber" required>
        <span matPrefix>#&nbsp;</span>
        <mat-error *ngIf="hasError('tableNumber', 'pattern')">Not a number</mat-error>
        <mat-error *ngIf="hasError('tableNumber', 'required')">This field is required</mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="!tableForm.valid">Confirm</button>
    </form>

    <button color="accent" class="button-kitchen" mat-raised-button (click)="goToKitchen()">
      <i class="icon-kitchen material-icons">kitchen</i>
      <p>Kitchen</p>
    </button>
  </div>
</div>
