.container {
    display: flex;
    flex-direction: column;
}

.container > * {
    width: 100%;
}

.left-align {
    text-align: left;
}

input.left-align::-webkit-outer-spin-button,
input.left-align::-webkit-inner-spin-button {
    display: none;
}

input.left-align {
    -moz-appearance: textfield;
}