.ticket-container {
  display: table;
  width: 100%;
  padding: 35px;
  padding-bottom: 200px;
  overflow: hidden;
}

.filter-container {
  margin-top: 10px;
  margin-left: 65%;
}

form>mat-form-field,
mat-slide-toggle {
  display: block;
  margin: 10px;
}

form>button {
  margin-right: 10px;
}
