.columns {
  margin-right: 0rem;
}

.like-button,
.dislike-button {
  width: 7rem;
  height: 7rem;
  background-color: white;
}

.mat-accent {
  background-color: white;
}

.return-button {
  color: #FFBB00;
}

.return-button.set-icon-fab {
  font-size: 9rem;
}

.like-button {
  color: #00FF33;
}

.dislike-button {
  color: #FF0000;
}

::ng-deep .mat-icon {
  height: 54px !important;
  width: 54px !important;
  font-size: 54px !important;
}

::ng-deep .undo-icon {
  height: 28px !important;
  width: 28px !important;
  font-size: 28px !important;
}

button {
  margin-left: 0.8rem;
}

.dishcard-parent {
  height: 54vh;
  position: relative;
}

.dishcard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-container {
  margin-bottom: 0px !important; 
  margin-top: 0px !important;
}

/* mat-icon {
  font-size: 46px;
} */


/* Modal */
.match-container {
  width: 80%;
  height: 70%;
  background-color: red;
  color: white;
}

.title .subtitle {
  color: white !important;
}

.round-image {
  margin-right: auto;
  margin-left: auto;
}

.modal-button {
  width: 15rem;
  height: 3rem;
}

.modal-button-container {
  margin: 35px;
}

.modal-content {
  bottom: 10%;
}

.circular-landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-landscape img {
  width: auto;
  height: 100%;
}