<div class="container">
  <!-- Card -->
  <div class="columns is-mobile is-centered"  style="height: 41.5rem;">
    <div id="dishcard-box" class="column is-10">
      <app-dishcard class="dishcard" *ngFor="let item of menu; let i = index" [cardId]="i" [item]='item'></app-dishcard>
    </div>
  </div>
  <!-- Buttons -->
  <div class="columns is-mobile is-centered">
    <div class="column is-11 has-text-centered">
      <button (click)="previousItem()" mat-fab aria-label="Return" class="return-button">
        <mat-icon class="undo-icon">undo</mat-icon>
      </button>
      <button (click)="dislikeItem()" mat-fab aria-label="Dislike" class="dislike-button">
        <mat-icon>close</mat-icon>
      </button>
      <button (click)="likeItem()" mat-fab aria-label="Like" class="like-button">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</div>