<app-filter-tags></app-filter-tags>

<div class="container">
  <!-- Card -->
  <div class="columns is-mobile is-centered" style="height: 41.5rem;">
    <div *ngIf="show" id="dishcard-box" class="column is-10">
      <app-dishcard class="dishcard" *ngFor="let item of menu; let i = index" [cardId]="i" [item]='item'></app-dishcard>
    </div>
  </div>
  <!-- Buttons -->
  <div class="columns is-mobile is-centered">
    <div class="column is-11 has-text-centered">
      <button (click)="previousItem()" mat-fab aria-label="Return" class="return-button">
        <mat-icon class="undo-icon">undo</mat-icon>
      </button>
      <button (click)="dislikeItem()" mat-fab aria-label="Dislike" class="dislike-button">
        <mat-icon>close</mat-icon>
      </button>
      <button (click)="likeItem()" mat-fab aria-label="Like" class="like-button">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- Match Modal -->
<div *ngIf="latestLikedItem" class="modal" [ngClass]="{'is-active': isModalActive}">
  <div class="modal-background"></div>
  <div class="modal-content has-text-centered">
    <p class="title is-1" style="color: white;">It's a match!</p>
    <p class="subtitle" style="color: white;">{{latestLikedItem.name}} has been added to your order.</p>
    <div class="circular-landscape">
      <img src="{{latestLikedItem.imgUrl}}" />
    </div>
    <div class="modal-button-container">
      <button class="modal-button" mat-raised-button color="primary" (click)="closeModal()">Continue swiping</button>
    </div>
    <div class="modal-button-container">
      <button class="modal-button" mat-raised-button color="warn" (click)="unmatch()">Unmatch</button>
    </div>
  </div>
</div>

<!-- Tutorial Modal -->
<a (click)="nextPhase()" *ngIf="phase < 4">
  <div class="modal" [ngClass]="{'is-active': isTutorialActive}">
    <div class="modal-background"></div>

    <ng-container [ngSwitch]="phase">


      <!-- Welcome -->
      <div *ngSwitchCase="0">
        <span style="width: 90%;">
          <div class="modal-content has-text-centered">
            <p class="title is-1" style="color: white;">Welcome!</p>
            <p class="subtitle" style="color: white;">In this restaurant we use a menu that is a bit different from
              other
              restaurants.</p>
            <p class="subtitle" style="color: grey;">Tap to continue...</p>
          </div>
        </span>
      </div>

      <!-- Swipe right -->
      <div *ngSwitchCase="1" style="width: 90%; margin-bottom: 75%;">
        <span>
          <div class="modal-content">
            <div class="columns is-mobile">
              <div class="column has-text-right">
              </div>
              <div class="column has-text-right">
              </div>
              <div class="column is-5 has-text-right">
                <p class="subtitle is-5" style="color: white;">Swipe right if you see something you like</p>
                <img src="./assets/images/swipe.svg" alt="Swipe icon" style="fill: white !important; width: 50%;">
              </div>
            </div>
          </div>
        </span>
      </div>

      <!-- Swipe left -->
      <div *ngSwitchCase="2" style="width: 90%; margin-bottom: 75%;">
        <span>
          <div class="modal-content">
            <div class="columns is-mobile">
              <div class="column is-5 has-text-left">
                <p class="subtitle is-5" style="color: white;">Swipe left if you see something you don't like</p>
                <img src="./assets/images/swipe.svg" alt="Swipe icon"
                  style="width: 50%; -webkit-transform: scaleX(-1); transform: scaleX(-1);">
              </div>
              <div class="column has-text-right">
              </div>
              <div class="column has-text-right">

              </div>
            </div>
          </div>
        </span>
      </div>

      <!-- Mistake? -->
      <div *ngSwitchCase="3" style="width: 90%; margin-top: 50%;">
        <span>
          <div class="modal-content">
            <div class="columns is-mobile">
              <div class="column is-4 has-text-left">
                <p class="subtitle is-5" style="color: white;">Accidentally disliked something? Fix your mistake by
                  clicking here.</p>
                <div class="has-text-right">
                  <i class="material-icons" style="color: white; font-size: 72px;">
                    arrow_downward
                  </i>
                </div>
              </div>
              <div class="column has-text-right">
              </div>
              <div class="column has-text-right">

              </div>
            </div>
          </div>
        </span>
      </div>
    </ng-container>

  </div>
</a>
