<div class="filter-container">
  <mat-expansion-panel [expanded]="false" hideToggle>
    <mat-expansion-panel-header>
      <i class="material-icons">
        filter_list
      </i>
      <mat-panel-title>
        {{'preferences.filters' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form (submit)="filter()">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="dp" placeholder="Pick a date" [max]="maxDate" [(ngModel)]="date"
          [ngModelOptions]="{standalone: true}" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Table Number</mat-label>
        <input matInput placeholder="Table Number" type="number" [(ngModel)]="filterTableNr"
          [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Filter</button>
      <button mat-raised-button color="primary" (click)="reset()">Reset</button>
    </form>
  </mat-expansion-panel>
</div>

<div class="ticket-container" *ngIf="tickets.length > 0">
  <mat-expansion-panel *ngFor="let ticket of tickets">
    <mat-expansion-panel-header>
      {{'tablenumber' | translate: {number: ticket.tableNr} }} van
      {{ ticket.time | date: "short" }}
    </mat-expansion-panel-header>
    <mat-list *ngFor="let order of ticket.orders">
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let item of order.orderItems">
        <p matLine>{{ item.amount }}x {{ item.item?.name }}</p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</div>
