<div class="filter-container">
    <mat-expansion-panel [expanded]="false" hideToggle>
        <mat-expansion-panel-header>
            <i class="material-icons">
                filter_list
            </i>
            <mat-panel-title>
                {{'preferences.filters' | translate}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form (submit)="filter()">
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="dp" placeholder="Pick a date" [max]="maxDate" [(ngModel)]="date"
                    [ngModelOptions]="{standalone: true}" disabled>
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Table Number</mat-label>
                <input matInput placeholder="Table Number" type="number" [(ngModel)]="filterTableNr"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Filter</button>
            <button mat-raised-button color="primary" (click)="reset()">Reset</button>
        </form>
    </mat-expansion-panel>
</div>

<div class="ticket-container" *ngIf="tickets.length > 0; else empty">
    <table mat-table [dataSource]="ticketDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="tableNr">
            <th mat-header-cell *matHeaderCellDef> Table No. </th>
            <td mat-cell *matCellDef="let element">{{element.tableNr}}</td>
        </ng-container>
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element">{{ element.time | date: "short" }}</td>
        </ng-container>
        <ng-container matColumnDef="finished">
            <th mat-header-cell *matHeaderCellDef> Paid </th>
            <td mat-cell *matCellDef="let element">{{element.finished}}</td>
        </ng-container>
        <ng-container matColumnDef="orderAmount">
            <th mat-header-cell *matHeaderCellDef> Orders </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent" (click)="showOrders(element)"
                    matBadge="{{element.orders.length}}" matBadgeColor="primary">
                    See Orders
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ticketDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: ticketDisplayedColumns;"></tr>
    </table>
</div>

<ng-template #empty>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                There are no tickets for this date and/or table number.
            </mat-card-title>
            <mat-card-subtitle>
                Please check your filters.
            </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</ng-template>