<mat-card>
  <!-- Image -->
  <div class="card-image">
    <figure *ngIf="item" class="image">
      <img (swipeLeft)="dislike()" (swipeRight)="like()" src="{{item.imgUrl}}">
    </figure>
    <div *ngIf="!item" style="height: 350px; width: 450px;"></div>
  </div>

  <!-- Content -->
  <div class="card-content">
    <!-- Name -->
    <div class="media">
      <div class="media-content">
        <p *ngIf="item" class="title is-3">{{item.name}}</p>
        <p *ngIf="!item" class="title is-3">Content</p>
        <p *ngIf="item" class="title is-4 is-pulled-right">{{item.price}} euro</p>
      </div>
    </div>
  </div>
</mat-card>




