<mat-card>

  <!-- Image -->
  <div class="card-image">
    <figure class="image">
      <img src="https://images0.persgroep.net/rcs/qgEF64UozF-_8AmkxIhyqZxKpTk/diocontent/141008357/_fitwidth/694/?appId=21791a8992982cd8da851550a453bd7f&quality=0.9">
    </figure>
  </div>

  <!-- Content -->
  <div class="card-content">
    <!-- Name -->
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Pizza</p>
        <p class="title is-4 is-pulled-right">12 euro</p>

      </div>
    </div>

  </div>
</mat-card>
