mat-card {
    right: 4%;
    padding: 0px;
}

.title, p {
    color: #707070;
    display: inline;
    font-weight: normal;
}

.media-content {
    padding: 1rem;
    padding-left: 2rem;
}

img {
    min-width: 670px;
    min-height: 520px;
    max-width: 670px;
    max-height: 520px;
}