<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Banana</mat-card-title>
      <mat-card-subtitle>Dessert</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/images/banaan.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        This is a nice banana. Enjoy
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab color="warn">DISLIKE</button>
      <button mat-fab aria-label="Icon button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
