.mat-dialog-content {
  overflow: hidden;
}

img {
  /* max-width: 410px;
    display: block;
    margin: auto; */
  min-width: 447px;
  min-height: 347px;
  max-width: 447px;
  max-height: 347px;
  object-fit: cover;
}
