<h3 mat-dialog-title>
  {{data.dish.name}}
  <i class="material-icons" *ngIf="isVegetarian(data.dish)" style="color: green">eco</i>
</h3>
<div mat-dialog-content>
  <img src="{{data.dish.imgUrl}}" alt="{{data.dish.name}}">
  <p>{{data.dish.price | currency:'€'}}</p>
  <mat-chip-list>
    <mat-chip *ngFor="let tag of data.dish.tags" disableRipple="true" [selectable]="false" translate>tag.{{tag | lowercase}}</mat-chip>
  </mat-chip-list>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCloseClick()">
    Cancel
    <!-- <i class="material-icons">cancel</i> -->
  </button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.dish">
    Add
    <!-- <i class="material-icons">add</i> -->
  </button>
</div>
