.main-container {
  margin: 40px;
}

.order-button {
  width: 150px;
  height: 50px;
}

.circular-landscape {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-landscape img {
  width: auto;
  height: 100%;
}

.empty-text {
    color: gray;
    margin-top: 30vh;
}