/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/css/bulma.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-global-overlay-wrapper {
  position: absolute;
  top: 82% !important;
  left: 25% !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
