.card {
  margin: 3%;
}

.main-container {
  margin: 40px 40px 10px 40px;
  overflow-y: scroll;
  max-height: 60vh;
}

.order-button {
  width: 150px;
  height: 50px;
}

.circular-landscape {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-landscape img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.empty-text {
  color: gray;
  margin-top: 30vh;
}

.sticky-level {
  bottom: 115px;
  padding-right: 40px;
  height: 70px;
  margin: 0;
  background-color: white;
}
